* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
/* Navidation and header styling */
a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}
#navigation-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navBar {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  gap: 1.5rem;
}
.navBar ul {
  display: flex;
}
.navBar li a {
  justify-content: space-around;
  color: #747474;
}
.nav-links {
  gap: 2em;
  list-style: none;
  font-size: 1.5em;
  text-decoration: none;
}
#active,
#career:hover,
#departments:hover {
  text-decoration: none;
  color: #00b39b;
}

.active {
  color: #00b39b;
}
a:hover {
  color: #00b39b;
}

#part-of-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  flex-wrap: wrap;
}
.logo {
  width: 40px;
  aspect-ratio: auto 40 / 40;
  height: 40px;
}
#heading-para {
  color: #00b39b;
  font-size: 3.29rem;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
  padding-top: 20px;
}
p {
  margin: 0 0 10px;
}
.paragraphs {
  font-size: 16px;
  color: #747474;
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 270px;
  padding-right: 290px;
  justify-content: space-between;
  width: 100%;
  gap: 2.3rem;
}
/* Navigation heading*/

/* box section  css*/

.part-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 3.75rem auto 2.5rem;
  color: #fff;
  max-width: 1015px;
  padding: 0 20px;
  position: relative;
}

.patient {
  background-color: #00ccb1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}

.patient select {
  background-color: #00ccb1;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
}

option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.doctor {
  background-color: #3d83df;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}

.doctor select {
  background-color: #3d83df;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
}

.clinics {
  background-color: #1b2734;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}
.clinics select {
  background-color: #1b2734;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
}
/* box section end */

/* section 3icon css  start*/

.section3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.section3 div {
  width: 60%;
  display: flex;
}
#section3title {
  font-size: 1.625em;
  margin: 0.25em 0 0.35em;
  padding-right: 1em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
p {
  margin: 0 0 10px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#section3logos {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}
.section3 div {
  width: 60%;
}
#section3logos img {
  width: 7.5rem;
  object-fit: contain;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
/* icon section end */

/* section 4 */

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  background-color: #d0faf4;
  padding-left: 50px;
}
.section4header {
  font-family: Work Sans, Arial, sans-serif;
  padding-top: 60px;
}

.section4header h2 {
  color: #00b39b;
  font-weight: 300;
  letter-spacing: -0.3px;
  padding-left: 50px;
}

.section4header p {
  padding-left: 50px;
  padding-top: 20px;
  font-size: 15px;
  color: #747474;
  padding-bottom: 50px;
}
p {
  margin: 0 0 10px;
}
img {
  vertical-align: middle;
  border: 0;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.section4fourparts {
  display: flex;
  margin-right: 50px;
  height: 100%;
  justify-content: space-around;
  margin-left: 100px;
}

.section4fourparts div {
  height: 500px;
  width: 250px;
}

.first2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
}

.second2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
/* section 5*/
.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  width: 100%;
}
.section5 h3 {
  font-size: 2.1428571429em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
}
.section5 p {
  margin: 1.6em 0;
  line-height: 1.7142857143;
  text-align: center;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}
/* section 6 */
.section6 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5cm;
  justify-content: center;
}
.section6 div {
  border-radius: 3%;
  margin: 0.44%;
}
.country {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
div .buttons {
  display: flex;
  justify-content: space-between;
}
.section6 div {
  border-radius: 3%;
  margin: 0.44%;
}
.section6 p {
  font-size: medium;
  color: #747474;
  font-family: Roboto, Arial, sans-serif;
  padding-top: 20px;
  padding-left: 20px;
}
p {
  margin: 0 0 10px;
}
.section6 button {
  margin-top: 0.5cm;
  display: flex;
  gap: 2cm;
  justify-content: center;
  background: #3d83df;
  line-height: 1em;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.04em;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
  margin-right: 20px;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}
b,
strong {
  font-weight: 700;
}
/* section 7 css */
.section7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section7 h1 {
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: 0.75em;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
  text-align: center;
}
.section7 button {
  margin-left: 120px;
  background-color: #3d83df;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  border-radius: 4px;
  text-align: center;
  border: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 12px;
}
/* footer section */
footer {
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  color: #ababab;
  padding-left: 100px;
  padding-right: 100px;
}
div {
  display: block;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
footer p {
  padding-top: 20px;
}
p {
  margin: 0 0 10px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* section 7 starts */
/*
.first2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
}
#leader,
#patients,
#appointments,
#doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  width: 220px;
  border-radius: 2px;
}
#leader {
  margin-bottom: 20px;
}

.section4fourparts div {
  height: 500px;
}

#leader img,
#patients img,
#appointments img,
#doctors img {
  width: 25px;
  height: auto;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
.section4fourparts h3 {
  font-size: 1.8461538462em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.section4fourparts p {
  font-size: 0.8125em;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}
p {
  margin: 0 0 10px;
}
#leader,
#patients,
#appointments,
#doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  width: 220px;
  border-radius: 2px;
}
.section4fourparts div {
  height: 500px;
}
.section4fourparts div {
  height: 500px;
  width: 250px;
}
.second2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
} */

/* 

#heading {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
  font-family: Work Sans, Arial, sans-serif;
}
p {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
  font-family: Work Sans, Arial, sans-serif;
}
select {
  background-color: #00ccb1;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
} */
